server:
  port: 5555

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

      routes:
        - id: jwtservice
          uri: lb://jwtservice
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users/(?<segment>.*), /api/users/${segment}

        - id: doctorservice
          uri: lb://doctorservice
          predicates:
            - Path=/api/doctors/**
          filters:
            - RewritePath=/api/doctors/(?<segment>.*), /api/doctors/${segment}

        - id: appointmentservice
          uri: lb://appointmentservice
          predicates:
            - Path=/api/appointments/**
          filters:
            - RewritePath=/api/appointments/(?<segment>.*), /api/appointments/${segment}

        - id: notificationservice
          uri: lb://notificationservice
          predicates:
            - Path=/api/notifications/**
          filters:
            - RewritePath=/api/notifications/(?<segment>.*), /api/notifications/${segment}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
